// * Layout

body {
  color: $color-secondary;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

h1 {
  font-family: $ff-primary;
  letter-spacing: 2px;
}

.page-wrapper,
.social-bar {
  background-color: $color-primary;
}

.block-page-title-block {
  text-align: center;
  word-break: break-word;
}
