// * Variables

// Colors
// -------------

$white: #fff;
$black: #000;
$blue-500: #019add;

$color-primary: $blue-500;
$color-secondary: $white;
$color-tertiary: $black;

// Typography
// -------------

$ff-primary: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

// Media Queries
// -------------

$phone-layout: 375px;
$phone-layout-lg: 428px;

$tablet-layout: 768px;
$tablet-layout-sm: 512px;
$tablet-layout-lg: 991px;

$desktop-layout: 1024px;
$desktop-layout-md: 1200px;
$desktop-layout-lg: 1400px;
