// * Variables

// -------------
// Colors
// -------------

$white: #fff;
$blue_500: #019add;

// -------------
// Media Queries
// -------------

$phone-layout: 375px;
$phone-layout-lg: 428px;

$tablet-layout: 768px;
$tablet-layout-sm: 512px;
$tablet-layout-lg: 991px;

$desktop-layout: 1024px;
$desktop-layout-md: 1200px;
$desktop-layout-lg: 1400px;