// * Gallery

.gallery.view {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.125rem;

    @media (min-width: 31.25rem) {
      gap: 3.125em;
    }

    .views-row {
      flex: 0 0 calc(100% - 1.125rem);

      @media (min-width: 31.25rem) {
        flex: 0 0 calc(50% - 3.125em);
      }

      // Equilateral triangle shaped
      &:nth-of-type(2) {
        .field--name-field-wonder-image img {
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
        }
      }

      // Circle shaped
      &:nth-of-type(3) {
        .field--name-field-wonder-image img {
          border-radius: 100%;
        }
      }

      // Rectangle shaped
      &:nth-of-type(4) {
        .field--name-field-wonder-image img {
          aspect-ratio: 2/3;
          object-fit: cover;
          width: 70%;
          margin: 0 auto;
        }
      }
    }
  }

  article {
    .node__title {
      font-size: 0;
      margin: 0;
      height: 0;
    }
    .node__content {
      padding: 0;
    }
  }
}
